	body {
		margin: 0px;
		padding: 0px;
		font-family: sans-serif;
	}

	h1 {
		text-align: center;
		background-color: antiquewhite;
	}

	p {
		text-align: center;
	}

	.imgfabula {
		width: 10px;
  		height: auto;
	}

	.imgindex {
		margin: 10px;
	}

	#principal {
		color: #3cff00;
	}

	* {
		background-color: rgb(255, 245, 233);
	}

	body {
		margin: 0px;
		padding: 0px;
		font-family: sans-serif;
	}

	a {
		color: #000;
		text-decoration: none;
	}

	a:hover{
		color: rgb(255, 255, 255);
	}

	button {
    background-color: #fff9e3;
    text-align: center;
    width: 150px;
    height: 75px;
    box-shadow: 5px 5px 10px hsl(0, 0%, 83%);
    display: block;
    margin: auto;
    border-width: 1px;
	font-size: 15px;
	text-transform: uppercase ;
}